<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.baksili.volume</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>736D5B18-C90D-4852-83FF-106062715E43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1020CFDA-6638-45F8-A401-68F633315DE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74DAF084-BC08-4527-9262-011FADEC9156</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F411EB51-3AE7-4153-AA2C-B534BBDBB2AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F411EB51-3AE7-4153-AA2C-B534BBDBB2AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCD330DC-1DF7-48CD-8265-66F5576C8A29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C2C8B596-1C23-482A-84FA-54564CEFF390</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F489B386-04A8-4528-9BCF-AB5413390CEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77E8CA16-1834-440F-A164-A5F600070A6D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>736D5B18-C90D-4852-83FF-106062715E43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ECAC4F60-DF16-417C-9073-163E00BFBBD9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D613B2BB-6D7F-4608-BA7A-CC5FDFC9AAE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F489B386-04A8-4528-9BCF-AB5413390CEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F885D84-7BF3-4A0F-9C3F-0EA94054B300</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCD330DC-1DF7-48CD-8265-66F5576C8A29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>550C515D-F09C-49DB-92E3-CAC481DEE051</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>BaksiLi</string>
	<key>description</key>
	<string>Adjust volume with precision</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Volume!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Volume adjusted by {query}</string>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>550C515D-F09C-49DB-92E3-CAC481DEE051</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

query=$1

Script="set volume output volume (output volume of (get volume settings) + $query) --100%"

osascript -e "$Script"

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCD330DC-1DF7-48CD-8265-66F5576C8A29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Volume adjusted to {query}</string>
				<key>title</key>
				<string>Done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6F885D84-7BF3-4A0F-9C3F-0EA94054B300</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

query=$1

Script="set volume output volume $query --100%"

osascript -e "$Script"

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F489B386-04A8-4528-9BCF-AB5413390CEF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\+\d{1,2}</string>
						<key>outputlabel</key>
						<string>by %</string>
						<key>uid</key>
						<string>C2C8B596-1C23-482A-84FA-54564CEFF390</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\b\d{1,2}(?!\d)|100\b</string>
						<key>outputlabel</key>
						<string>to %</string>
						<key>uid</key>
						<string>77E8CA16-1834-440F-A164-A5F600070A6D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>?</string>
						<key>outputlabel</key>
						<string>check</string>
						<key>uid</key>
						<string>ECAC4F60-DF16-417C-9073-163E00BFBBD9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F411EB51-3AE7-4153-AA2C-B534BBDBB2AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vol</string>
				<key>subtext</key>
				<string>to % or by +%, ? to check</string>
				<key>text</key>
				<string>Adjust Volume</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>74DAF084-BC08-4527-9262-011FADEC9156</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Volume Level Checked!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1020CFDA-6638-45F8-A401-68F633315DE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $(osascript -e "output volume of (get volume settings) &amp; output muted of (get volume settings)")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>736D5B18-C90D-4852-83FF-106062715E43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>D613B2BB-6D7F-4608-BA7A-CC5FDFC9AAE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1020CFDA-6638-45F8-A401-68F633315DE9</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>550C515D-F09C-49DB-92E3-CAC481DEE051</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>6F885D84-7BF3-4A0F-9C3F-0EA94054B300</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>736D5B18-C90D-4852-83FF-106062715E43</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>74DAF084-BC08-4527-9262-011FADEC9156</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>D613B2BB-6D7F-4608-BA7A-CC5FDFC9AAE5</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>F411EB51-3AE7-4153-AA2C-B534BBDBB2AE</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F489B386-04A8-4528-9BCF-AB5413390CEF</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>FCD330DC-1DF7-48CD-8265-66F5576C8A29</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string>https://github.com/BaksiLi/AlfredWorkflows</string>
</dict>
</plist>
